/*All styles are stored here*/


/* General
/* TOP NAV BAR
/* FOOTER
/* TABLES

*/


/*General*/

@font-face {
    font-family: 'Eurostile';
    src: url('/static/545b3c25e4b09756ea1869ad/t/545b46abe4b05ddeffa7381e/1415268011488/eurostile%20extended.ttf')
}

* {
    font-size: 14px;
    font-family: "Eurostile", sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, black, rgb(82, 20, 50));
    background-attachment: fixed;
    background-size: 100% 100%;
}


/* For the top fixed nav bar */

#myTopnav {
    box-shadow: 5px 10px rgb(255, 107, 181, .15);
}

.active {
    color: rgb(255, 107, 181);
}

.topnav {
    background-color: rgb(100, 33, 66);
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #FF69B4;
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}


/*Media queries*/


/* When the screen is less than 600 pixels wide, hide all links, except for the active one. The icon opens and closes the topnav */

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        overflow: hidden;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*STICKY: When navbar reaches its scroll position, be sticky */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}


/*Top fixed nav bar end*/


/* For the footer*/

.footer {
    background-color: rgb(100, 33, 66);
    color: white;
    overflow: hidden;
    width: 100%;
    margin-bottom: -100;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

#content {
    margin: 35px;
    margin-top: 60px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px rgba(255, 255, 255, 0.15);
}


/*Footer end*/


/*for the TABLES*/

table,
thead,
td {
    border-collapse: collapse;
}

.achiev table {
    background-color: white;
}

.achiev thead {
    background-color: pink;
}

.achiev td {
    border: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 5px
}

.achiev th {
    border: 2px solid black;
    padding: 5px
}

.achiev table {
    border: 2px solid black;
}

.interest_table th {
    margin: 2px;
    text-align: left;
    font-weight: normal;
    width: 20%;
}

.interest_table table {
    width: 100%
}

.items {
    margin: 1px;
    box-shadow: 1px 1px rgb(255, 107, 181, .15);
    height: 40px;
}

.items:not(.active_1):hover {
    background-color: rgb(255, 107, 181, .55);
}

.active_1 {
    background-color: rgb(255, 107, 181);
}

.non_active {
    background-color: pink;
}


/*Tables end*/


/*FORMS*/


/* A form with flexiness */

#outermost_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

#inner_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}

#flex_children {
    min-width: 200px;
    max-width: 300px;
    flex-basis: auto;
    flex-grow: 1;
}


/*Forms end*/


/*For the images*/

img {
    width: 200px;
}

#logo {
    width: 20px;
    background: white;
    margin-left: 3px;
}


/*Images end*/


/*For the text headings etc etc*/

h1 {
    font-size: 20px;
}

.footer a {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    color: rgb(100, 33, 66);
    text-decoration: none
}


/*Text end*/